<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="LowerCaseRule - not including querystring" enabled="true" stopProcessing="true">
					 <match url="(.*)" />
					  <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_METHOD}" pattern="GET" negate="true" />
					  </conditions>
					  <action type="Redirect" url="/{ToLower:{R:1}}" appendQueryString="true" redirectType="Temporary" />
				</rule>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{DOCUMENT_ROOT}{URL}" matchType="IsFile" ignoreCase="false" />
                        <add input="{DOCUMENT_ROOT}{URL}" matchType="IsDirectory" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="cache-control" value="no-cache" />
            </customHeaders>
        </httpProtocol>
        <handlers>
            <remove name="StaticFile" />
            <add name="StaticFile" path="*" verb="GET, POST" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
        </handlers>
		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" path="/" responseMode="ExecuteURL" />
		</httpErrors>
    </system.webServer>
</configuration>